@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Carter+One');
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
  Author: Nicholas Le
    Date: 11/09/18  
	
   Filename: br_styles.css

*/

/* Html Syles */
/* Added Background image */
html {
    background: url(br_paper.png);
}

/* Body Styles */
/* Created a limit to the body */
body {
    width: 90%;
    min-width: 640px;
    max-width: 960px;
    margin: auto;
}

/* Header Styles */
/* slightly rotated the image and added a drop shadow for effect, also made the nav centered */
header img {
    width: 100%;
    transform: rotateX(28deg);
    filter: drop-shadow(rgba(51, 51, 51, 0.7) -15px 0px 5px);
    -webkit-filter: drop-shadow(rgba(51, 51, 51, 0.7) -15px 0px 5px);
}

header>nav {
    display: table;
    width: 100%;
}

header>nav>ul {
    display: table-row;
    list-style-type: none;
}

header>nav>ul>li {
    display: table-cell;
    text-align: center;
}

nav a:visited,
nav a:link {
    color: #3e33ff;
    text-decoration: none;
    font-size: 1.4vw;
}

nav a:hover,
nav a:active {
    text-decoration: underline;
}

nav#secondnav {
    display: table;
    width: 100%;
    padding: 10px;
}

nav#secondnav>ul {
    display: table-row;
    list-style-type: none;
}

nav#secondnav>ul>li {
    display: table-cell;
    text-align: center;
}

nav#secondnav a:visited,
nav#secondnav a:link {
    color: #3e33ff;
    text-decoration: none;
    font-size: 1.4vw;
}

nav#secondnav a:hover,
nav#secondnav a:active {
    text-decoration: underline;
}

/* Article Styles */
/* Changed the font family and added text shadow */
article {
    margin: 10px;
    padding: 5px;
    height: 325px;
}

article h1 {
    padding: 10px;
    text-shadow: rgba(21, 21, 21, 0.86) 5px 5px 25px;
}

article p {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

/* Aside Styles*/
/* Destroyed address and section with borders and gradients */
.in address {
    display: block;
    width: 26%;
    float: left;
    font-size: 1.2em;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: rgb(39, 39, 39) -2px 2px 2px;
    background: radial-gradient(white, rgba(145, 145, 146, 0.692));
}

.in section {
    display: block;
    width: 26%;
    float: right;
    margin-bottom: 40px;
    font-size: 1.2em;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: rgb(39, 39, 39) 2px 2px 2px;
    background: linear-gradient(128deg, white, rgba(145, 145, 145, 0.753)80%);
}

/* Figure Image Styles */
/* Created a grid for the images without divs */
figure {
    width: 33%;
    float: left;
    display: block;
    font-family: 'Carter One', cursive;
    font-weight: 600;
    font-size: 1.3em;
}

figure img {
    padding: 10px;
    margin-bottom: 10px;
}

figure figcaption {
    text-align: left;
    clear: left;
    float: left;
}

/* footer Styles */
/* Added a footer to keep the images from connecting with the very bottom of the page */
footer {
    padding: 8px;
    text-align: center;
    color: rgba(21, 17, 17, .6);
    margin-top: 1px;
}